<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APP.Properties.Settings.Sealing_of_metersConnectionString"
            connectionString="Data Source=DESKTOP-REK9PVM;Initial Catalog=Sealing_of_meters;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>